<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylep.css">
    <script src="js/palabra.js" type="text/javascript"></script>
    <title>Palabra</title>
</head>
<body>
    <div class="palabra">
    <label for="palabra">Digita la palabra</label>
    <input type="text" id="palabra" value="">
   </div>
    
    <div class="eleccion">
    <h1>Elige lo que deseas consultar</h1>  
         <button onclick="longitud()"> Longitud de la palabra </button> 
         <button onclick="mayuscula()"> La palabra convertida en mayuscula</button>
         <button onclick="minuscula()"> La palabra convertida en minusculas</button>
         <button onclick="caracter()"> Primer caracter de la palabra </button>  
    </div>

</body>
</html>